*{
    margin:0;
}
body{
    background-image: url(../kitcheningFlexbox_Base/images/bg-body.png);
    font-family: sans-serif;
}
.main-content{
    margin: 0 auto;
    width: 960px;
}
.Login_Register{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Login{
    margin-top: 10px;
    margin-right: 20px;
}
.Register{
    margin-top: 10px;
    margin-left: 10px;
}
.PadreLogo{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 30px;
}
.PadreLogo img{
    border-radius: 50%;
}
.PadreTitulos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
}
.Titulo{
    display:flex;
    background-color: rgb(77, 70, 70);
    height: 50px;
    width: 180px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
    
}
.Pollo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.FotosTexto{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.Foto{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.Foto h2{
    font-size: 24px;
    margin-top: 20px;
}
.Foto p{
    font-size: 18px;
    margin-top: 20px;
}
.VerMas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 48, 48);
    color: white;
    width: 130px;
    height: 40px;
    margin-bottom: 30px;
}
.Footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(204, 9, 9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color:white;
    padding-left: 230px;
    padding-right: 230px;
    align-items: center;
}
.Footer p{
    padding: 20px; 
    border-right: 2px solid white;
    padding-bottom: 20px;
    padding-top: 20px;
}